.button {
  background-color: $dodger-blue;
  color: white;
  display: inline-block;
  font-size: $font-size-large;
  font-weight: 400;
  line-height: 1;
  padding: $s-size;
  text-decoration: none;
}

.button--link {
  background-color: $off-green;
}

.button--secondary {
  background: #888888;
}

.button--photo {
  margin: 5px 0 5px 0;
}