.button {
  background-color: $dodger-blue;
  border: none;
  color: white;
  display: inline-block;
  font-size: $font-size-large;
  font-weight: 300;
  line-height: 1;
  padding: $s-size;
  text-decoration: none;
}

.button--link {
  background-color: $dark-blue;
}

.button--secondary {
  background: #888888;
}