.header {
  background: $light-green;
}

.header__title {
  color: white;
  font-weight: 400;
  text-decoration: none;
  h1 {
    margin: 0;
    padding-top: $m-size;
  }
}

.header__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: $s-size 0;
}

.header__secondary {
  margin: 20px 0 10px 2.5px;
};