.text-input {
  border: 1px solid #cacccd;
  height: 50px;
  font-size: $font-size-large;
  font-weigth: 300;
  padding: $s-size;
}

.select select {
  height: 50px;
  margin-top: 0;
}

.select {
  margin: 0 0 25px 0;
}

.textarea {
  @extend .text-input;
  height: 10rem;
}
